body {
  background-color: black;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

#banner {
  perspective: 20px;
  display: inline-block;
}

#inner {
  transition: transform 0.25s;
}

.navbar {
  font-family: "Lato", sans-serif;
  color: gray;
}

.titling {
  font-family: "Lato", sans-serif;
  color: gray;
  text-align: center;
}

#nameEdBanner {
  text-align: center;
  padding-top: 75px;
  max-width: 100%;
}

#transitionOne {
    max-width: 100%;
}

#aboutDiv {
    background-color: #2b2d2f;
    height: 1000px;
    max-width: 100%;
}

#transitionTwo {
    max-width: 100%;
}

#portfolioDiv {
    background-color: #777777; 
    height: 1000px;
    max-width: 100%;
}

#transitionThree {
    max-width: 100%;
}

#contactDiv {
    background-color: #cccccc;
    height: 1000px;
    max-width: 100%;
}


